<!-- Hero -->
<section class="section">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <%= image_tag("logo_updated.png") %>
    </div>
  </nav>
</section>

<!-- Creative Portfolio -->
<section class="hero is-fullheight">
  <div class="container">
    <h1 class="title is-1 has-text-left has-text-weight-bold">Our Portfolio</h1>

    <!-- Literature | Palmcards -->
    <div class="row">
      <h2 class="subtitle is-4 has-text-left has-text-weight-semibold pf-heading">Literature & Palmcards</h2>
      <span class="pf-images">
        <%= image_tag("literature/palmcard-front.jpg") %>
        <%= image_tag("literature/palmcard-back.jpg") %>
      </span>
    </div>

    <!-- Print and Direct Mail -->
    <div class="row">
      <h2 class="subtitle is-4 has-text-left has-text-weight-semibold pf-heading">Print & Direct Mail</h2>
      <span class="pf-images">
        <%= image_tag("printanddirectmail/print.png") %>
        <%= image_tag("printanddirectmail/dm.jpg") %>
      </span>
    </div>

    <!-- Infographics -->
    <div class="row">
      <h2 class="subtitle is-4 has-text-left has-text-weight-semibold pf-heading">Infographics</h2>
      <span class="pf-images">
        <%= image_tag("social/ig.jpg") %>
      </span>
    </div>

    <!-- Actblue Pages -->
    <div class="row">
      <h2 class="subtitle is-4 has-text-left has-text-weight-semibold pf-heading">Donation & ActBlue Pages</h2>
      <span class="pf-images">
        <%= image_tag("web/ab/ana-ab.png") %>
        <%= image_tag("web/ab/ed-ab.png") %>
        <%= image_tag("web/ab/lawton-ab.png") %>
        <%= image_tag("web/ab/kincaid-ab.png") %>
      </span>
    </div>

    <!-- Websites -->
    <div class="row">
      <h2 class="subtitle is-4 has-text-left has-text-weight-semibold pf-heading">Websites</h2>
      <span class="pf-images">
        <%= image_tag("web/ana-site.jpg") %>
        <%= image_tag("web/dclc-site.jpg") %>
        <%= image_tag("web/joana-site.jpg") %>
        <%= image_tag("web/kincaid-site.jpg") %>
      </span>
    </div>
  </div>
</section>
